<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (C) 2015 Red Hat, Inc

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  
  <listener>
    <listener-class>io.fabric8.kubeflix.StartTurbineServer</listener-class>
  </listener>
  
  <servlet>
    <description></description>
    <display-name>TurbineStreamServlet</display-name>
    <servlet-name>TurbineStreamServlet</servlet-name>
    <servlet-class>com.netflix.turbine.streaming.servlet.TurbineStreamServlet</servlet-class>
  </servlet>

  <servlet>
    <description>Discovery Feedback Servlet</description>
    <display-name>DiscoveryFeedbackServlet</display-name>
    <servlet-name>DiscoveryFeedbackServlet</servlet-name>
    <servlet-class>io.fabric8.kubeflix.DiscoveryFeedbackServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>TurbineStreamServlet</servlet-name>
    <url-pattern>/turbine.stream</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>DiscoveryFeedbackServlet</servlet-name>
    <url-pattern>/discovery</url-pattern>
  </servlet-mapping>
  
</web-app>